body{
	margin: 0;
	font-family: 'Verdana';
	font-size: 14px;
}

.firstscreen{
	background-color: #222222;
	height: 699px;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantage{
	background-color: #131313;
	height: 321px;
	color: white;
}

.content{
	background-color: #FFFFFF;
	height: 808px;
}


footer{
	background-color: #131313;
	height: 354px;
}

nav{
	padding-left: 160px;
	color: white;
	padding-top: 0;
	padding-bottom: 0;
}

.left{
position: absolute;
left: 140px;
top: 35px;
}

.right{
position: absolute;
top: 65px;
right: 201px;
}

ul{
	list-style-type: none;
	display: inline-block;
}

li{
	display: inline-block;
	margin: 33px;
	text-align: left;
}

.text{
	color: white;
	position: absolute;
	width: 235.68px;
	margin-left: 350px;
	margin-top: 200px;
	font-size: 45px;
}

.textb{
	color:#C4C4C4;
	position: absolute;
	width: 250.54px;
	margin-left: 350px;
	margin-top: 370px;
	font-size: 13px;
}

.pic{
	position: absolute;
	width: 438px;
	height: 438px;
	right: 300px;
	top: 200px;
}

.button{
	background-color: #FFCB06;
	position: absolute;
	width: 230px;
	height: 50px;
	left: 350px;
	top: 470px;
	border-radius: 30px;
	border: 2px;
	padding-top: 0 auto;
	text-align: center;
}

.button img{
	position: absolute;
	right: 20px;
	top: 17px;
}

.advantage-menu{
	color:#D4D4D4;
	text-align: left;
	margin-left: 80px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.columns-container {
  	display: flex;
}

.columns-container .left-column {
  	width: 440px;
  	margin-right: 80px;
  	margin-left: 400px;
}

.columns-container .right-column {
  	width: 440px;
}

.moon-vacation {
  	padding-top: 80px;
  	padding-bottom: 45px;
}

.moon-vacation .lead {
  	margin-top: 0;
  	margin-bottom: 50px;
  	font-weight: bold;
  	font-size: 24px;
  	line-height: 30px;
  	font-family: "Courier New", monospace;
}

.recommendations-list {
  	margin: 0;
  	padding: 0;
  	padding-left: 30px;
  	list-style: none;
}

.recommendations-list li {
  	position: relative;
  	margin-bottom: 10px;
}

.recommendations-list li::before {
  	content: "";
	position: absolute;
  	left: -25px;
  	top: 5px;
  	width: 8px;
  	height: 8px;
  	border-radius: 50%;
  	background-color: #feca30;
}

.left-column p{
	width: 162px;
	height: 36px;
	margin-top: 130px; 
	margin-left: 160px; 
	color: #555555;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.site-footer {
  padding-bottom: 80px;
  color: #ffffff;
  background-color: #131313;
}

.footer-columns-container {
  display: flex;
}

.footer-columns-container .left-column {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 100px;
}

.footer-columns-container .right-column {
  width: 720px;
  margin-left: 200px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0;
}

.logo-container .logo {
  margin-left: 0;
  margin-right: 20px;
}

.logo-container p {
    font-size: 14px;
}

.copyrights {
  margin-top: auto;
  color: #555555;
}

.footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu > li {
  width: 181px;
  margin-right: 120px;
}

.footer-submenu-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #555555;
}

.footer-submenu {
	margin-top: 50px;
  	margin-left: 0px;
  padding: 0;
  list-style: none;
}

.footer-submenu > p {
	color: #888888;
	width: 181px;
	margin-bottom: 30px;
}

footer .right-column{
	margin-left: 100px;
	margin-top: 90px;
}